    <% provide(:title, 'About') %>
    <h1>About</h1>
    <p>
      The <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a> is a <a>book</a> and <a>screencast</a> series to teach development with <a>ruby on rails</a><br> This is the sample application for this tutorial.
    </p>